live/terragrunt.hcl
.terragrunt-cache

backend.tf
provider.tf
terraform.tf

.terraform
.terraform.lock.hcl
*.tfvars*
*.tfstate*

*.diff
*.bak
*.kubeconfig*

config.yml
config.yaml

!.tfsec/config.yml

# Keep examples
!**/config.yml.example
!**/terragrunt.hcl.example

.envrc

*.pem